@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
body {
	background-color: transparent;
	color: #ffffff;
	font-size: 16px;
	font-family: "Teko", monospace;
	font-weight: 700;
}

.container {
	width: 100%;
	height: 100%;
}

.container-bg {
	position: absolute;
	left: -10px;
	top: -10px;
	z-index: -1;
	width: 500px;
	height: 200px;
	background: rgba(0, 0, 50);
	border-radius: 20px;
}

.title {
	padding-right: 10px;
}

.textblock {
	width: 100%;
	display: flex;
	justify-content: start;
}

.textblock-center {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.textblock-left {
	width: 100%;
	display: flex;
	justify-content: start;
}

.textblock-right {
	width: 100%;
	display: flex;
	justify-content: end;
}

#srtQueryData {
	position: relative;
	width: 100%;
	height: 100%;
}

.bar {
	position: relative;
    left: -1px;
	width: calc(100% - 8px);
	height: 30px;
	background: rgba(34, 26, 26, 0.6);
    border: rgba(60, 60, 60, 1) solid 2px;
}

.progressbar {
	width: 100%;
	height: 30px;
}

#currentprogress {
	position: relative;
	display: flex;
	justify-content: start;
	padding-left: 10px;
	font-size: 24px;
	line-height: 30px;
	width: 420px;
}

#percentprogress {
	position: absolute;
	top: 0px;
	right: 0px;
	align-items: center;
	padding-right: 10px;
	font-size: 24px;
	line-height: 30px;
}

/* HP BAR COLORS */
.fine {
	background: rgba(0, 102, 0, 0.6);
}

.fineToo {
	background: rgba(255, 255, 0, 0.6);
}

.caution {
	background: rgba(218, 165, 32, 0.6);
}

.danger {
	background: rgba(153,0,0,0.6);
}

.dead {
	background: transparent;
}

.poison {
	background: rgba(73, 58, 85, 0.6);
}

.gassed {
	background: rgb(238, 130, 238, 0.6);
}

.devil {
	background: rgb(128, 0, 128, 0.6);
}

/* TEXT COLORS */
.green {
	color: rgb(150, 255, 150);
}

.green2 {
	color: rgb(0, 255, 0);
}

.purple {
	color: 	rgb(222, 182, 255);
}

.pink {
	color: 	#ee82ee;
}

.yellow {
	color: rgb(255, 255, 150);
}

.orange {
	color: orange;
}

.red {
	color: rgb(255, 172, 172);
}

.grey {
	color: gray;
}

.white{
	color:#ffffff;
}